<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {% block title %}
		<title>Koalabot</title>
	{% endblock %}
	<link rel="stylesheet" href="{% static 'base/css/base.css' %}">
	<link rel="stylesheet" href="{% static 'base/css/hamburger.css' %}">
	<link rel="stylesheet" href="{% static 'base/css/helpers.css' %}">
	<script type="text/javascript" src="{% static 'base/js/cookies.js' %}"></script>
	<script type="text/javascript" src="{% static 'base/js/navbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'base/js/darkMode.js' %}"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	{% block requirements %}
	{% endblock %}
</head>
<body onload="checkDarkmodeToggle();openCookieBanner()">
	<script type="text/javascript">loadDarkmode()</script>
	<nav id="nav">
		<a onclick="toggleFullNavigationBar()">
			<div class="icon">
				<i class="hamburger"><span></span></i>
			</div>
		</a>
		<a class="dark" onclick="openNavigationBar();setTimeout(()=>{document.getElementById('navSearchInput').focus()},200)">
			<div class="icon">
				<i class="fa fa-search fa-lg"></i>
			</div>
			<input type="text" name="" id="navSearchInput">
		</a>
		<a class="dark" href="/">
			<div class="icon">
				<i class="fa fa-th-large fa-lg"></i>
			</div>
			<p>Dashboard</p>
		</a>
		<a class="dark" href="/settings">
			<div class="icon">
				<i class="fa fa-cog fa-lg"></i>
			</div>
			<p>Settings</p>
		</a>
		<a href="/verify">
			<div class="icon">
				<i class="fa fa-check fa-lg"></i>
			</div>
			<p>Verify</p>
		</a>
		<a href="/twitch">
			<div class="icon">
				<i class="fab fa-twitch fa-lg"></i>
			</div>
			<p>Twitch Notify</p>
		</a>
		<a href="/socialalert">
			<div class="icon">
				<i class="fas fa-users fa-lg"></i>
			</div>
			<p>Social Alert</p>
		</a>
	</nav>
	<div class="content">
		<header>
			<div class="headerLeftSection">
				<img src="{% static 'base/img/KoalaBotLogo.png' %}" id="headerLogo">
			</div>
			<div class="headerRightSection">
				<p>Dark Mode</p>
				<label class="switch">
				  <input type="checkbox" id="darkmodeToggle" onchange="toggleDarkMode()" disabled="true">
				  <span class="slider round no-animation" id="darkmodeAnimate"></span>
				</label>
				<div class="vertical-container end">
					<h4>Username#0000</h4>
					<p>Koala Dev</p>
				</div>
				<div class="profile-icon">
					<i class="fas fa-user"></i>
				</div>
			</div>
		</header>

		<main>
			{% block content %}
			{% endblock %}
		</main>

		<footer>
			<p>© KoalaBotUK 2020</p>
		</footer>
	</div>
	<div id="cookieBanner">
		<div id="cookieContainer">
			<p>This site uses cookies, by using this site you are accepting that.</p>
			<div class="button" onclick="acceptCookies()">Accept</div>
		</div>
	</div>
	{% block endRequirements %}
	{% endblock %}
</body>
</html>
