<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    {% block title %}
		<title>Koalabot</title>
	{% endblock %}
	<link rel="stylesheet" href="{% static 'base.css' %}">
	<link rel="stylesheet" href="{% static 'hamburger.css' %}">
	<link rel="stylesheet" href="{% static 'helpers.css' %}">
	<script type="text/javascript" src="{% static 'navbar.js' %}"></script>
	<script type="text/javascript" src="{% static 'darkMode.js' %}"></script>
	<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
	{% block requirements %}
	{% endblock %}
</head>
<body>
	<nav id="nav">
		<a onclick="toggleFullNavigationBar()">
			<div class="icon">
				<i class="hamburger"><span></span></i>
			</div>
		</a>
		<a class="dark">
			<div class="icon">
				<i class="fa fa-search fa-lg"></i>
			</div>
			<input type="text" name="">
		</a>
		<a class="dark" href="/">
			<div class="icon">
				<i class="fa fa-th-large fa-lg"></i>
			</div>
			<p>Dashboard</p>
		</a>
		<a class="dark" href="/settings">
			<div class="icon">
				<i class="fa fa-cog fa-lg"></i>
			</div>
			<p>Settings</p>
		</a>
		<a href="/verify">
			<div class="icon">
				<i class="fa fa-check fa-lg"></i>
			</div>
			<p>Verify</p>
		</a>
		<a href="/twitch">
			<div class="icon">
				<i class="fab fa-twitch fa-lg"></i>
			</div>
			<p>Twitch Notify</p>
		</a>
		<a href="/socialalert">
			<div class="icon">
				<i class="fas fa-users fa-lg"></i>
			</div>
			<p>Social Alert</p>
		</a>
	</nav>
	<div class="content">
		<header>
			<p>Dark Mode</p>
			<label class="switch">
			  <input type="checkbox" onchange="toggleDarkMode()">
			  <span class="slider round"></span>
			</label>
			<div class="vertical-container end">
                {% if user.is_authenticated %}
                    {% load account %}
                    {% user_display user %}
			</div>
			<div class="profile-icon">
                <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" />
			</div>
                {% else %}
                    <a href="http://127.0.0.1:8000/accounts/discord/login">Login</a>
            {% endif %}
		</header>

		<main>
			{% block content %}
			{% endblock %}
		</main>

		<footer>
			<p>© KoalaBotUK 2020</p>
		</footer>
	</div>
	{% block endRequirements %}
	{% endblock %}
</body>
</html>
