{% extends 'base.html' %}
{% load static %}
    
{% block title %}
        <title>Koalabot | Cogs</title>
{% endblock %}
    
{% block requirements %}
        {{ block.super }}
        <link rel="stylesheet" href="{% static 'cogs.css' %}">
{% endblock %}
    
{% block content %}
	<section id="commands">
        <h1>LIST OF COGS</h1>

        <div class = "cogs">
            <h2>KoalaBot (Base)</h2>
            <ul>
            <li><code>enableExt<koala_extension></code>
                <br>
                Enable available Koala Extensions</li>

            <li><code>disableExt <koala_extension></code>
                <br>
                Disable enabled Koala Extensions</li>
            
            <li><code>listExt</code>
                <br>
                Lists all enabled and disabled Koala Extensions</li>

            <li><code>welcomeUpdateMsg <new_message></code>
                <br>
                Allows admins to change their customisable part of the welcome message of a guild.</li>
            
            <li><code>welcomeSendMsg</code>
                <br>
                Allows admins to send out their welcome message manually to all members of a guild.</li>
            
            <li><code>welcomeViewMsg</code>
                <br>
                Shows the current welcome message</li>

            <li><code>clear [amount = 2]</code>
                <br>
                Clears a given number of messages from the given channel.</li>
            
            <li><code>ping</code>
                <br>
                Returns the ping of a bot</li>
            </ul>
        </div>


        <div class = "cogs">
            <h2>Koala Extensions</h2>
                <div class = "extension">
                <h4>Verify</h4>
                    <ul>
                    <li><code>verifyAdd [suffix] [role]</code>
                        <br>
                        Set up a role and email pair for KoalaBot to verify users with</li>
                    
                    <li><code>verifyRemove [suffix] [role]</code>
                        <br>
                        Disable an existing verification listener</li>

                    <li><code>reVerify <role></code>
                        <br>
                        Removes a role from all users who have it and marks them as needing to re-verify before giving it back.</li>

                    <li><code>verifyList</code>
                        <br>
                        List the current verification setup for the server</li>
                    </ul>
                </div>

                <div class = "extension">
                    <h4>Text Filter</h4>
                    <ul>
                    <li><code>filter <text> [type]</code>
                        <br>
                        Filter a word or string of text. Type is defaulted to banned which will delete the message and warn the user. Use type <code>risky</code> to just warn the user.</li>
        
                    <li><code>filterRegex <regex> [type] </code>
                        <br>
                        Filter a regex string. Type is defaulted to banned which will delete the message and warn the user. Use type <code>risky</code> to just warn the user.</li>
                        
                    <li><code>filterList</code>
                        <br>
                        filterList Get a list of filtered words in the server</li>
                        
                    <li><code>modChannelAdd <channelId></code>
                        <br>
                        Add a mod channel for receiving filtered message information (User, Timestamp, Message) to be sent to.</li>
                        
                    <li><code>modChannelRemove <channelId></code>
                        <br>
                        Remove a mod channel from the server.</li>
                        
                    <li><code>modChannelList <channelId></code>
                        <br>
                        See a list of mod channels in the server.</li>
                        
                    <li><code>ignoreUser <userMention></code>
                        <br>
                        Add a new ignored user for the server. This users' messages will be ignored by the Text Filter.</li>
                    
                    <li><code>ignoreChannel <channelMention></code>
                        <br>
                        ignoreChannel <channelMention> Add a new ignored channel for the server. Messages in this channel will be ignored by the Text Filter.</li>
                        
                    <li><code>ignoreList</code>
                        <br>
                        ignoreList See a list of ignored users/channels in the server.</li>
        
                    <li><code>unfilter <text></code>  
                        <br>
                        unfilter <text> Unfilter a word/string/regex of text that was previously filtered.</li>
                        
                    <li><code>unignore <mention></code>
                        <br>
                        Unignore a user/channel that was previously set as ignored.</li>
                    </ul>   
                </div>
                    
                <div class = "extension">
                    <h4>React For Role (RFR)</h4>
                    <ul>
                    <li><code>rfr create</code>
                        <br>
                        Create a new, blank rfr message. Default title is React for Role. Default description is Roles below!.</li>
        
                    <li><code>rfr delete</code>
                        <br>
                        Delete an existing rfr message.</li>
        
                    <li><code>rfr addRequiredRole </code>
                        <br>
                        Add a role required to react to/use rfr functionality. If no role is added, anyone can use rfr functionality.</li>
        
                    <li><code>rfr removeRequiredRole </code>
                        <br>
                        Removes a role from the group of roles someone requires to use rfr functionality.</li>
        
                    <li><code>rfr edit addRoles </code>
                        <br>
                        Add emoji/role combos to an existing rfr message.</li>
        
                    <li><code>rfr edit removeRoles </code>
                        <br>
                        Remove emoji/role combos from an existing rfr message.</li>
        
                    <li><code>rfr edit description </code>
                        <br>
                        Edit the description of an existing rfr message.</li>
        
                    <li><code>rfr edit title </code>
                        <br>
                        Edit the title of an existing rfr message.</li>
                    </ul>
                </div>

                <div class = "extension">
                    <h4>ColourRole</h4>
                    <ul>
                    <li><code>listCustomColourAllowedRoles</code>
                        <br>
                        Lists the roles in a guild which are permitted to have their own custom colours.</li>

                    <li><code>listProtectedRoleColours</code>
                        <br>
                        Lists the protected roles, whose colours are protected from being imitated by a custom colour, in a guild.</li>
                        
                    <li><code>addCustomColourAllowedRole <role></code>
                        <br>
                        Adds a role, via ID, mention or name, to the list of roles allowed to have a custom colour.</li>

                    <li><code>addProtectedRoleColour <role_str></code>
                        <br>
                        Adds a role, via ID, mention or name, to the list of protected roles.</li>

                    <li><code>removeCustomColourAllowedRole <role_str></code>
                        <br>
                        Removes a role, via ID, mention or name, from the list of roles allowed to have a custom colour.</li>

                    <li><code>removeProtectedRoleColour <role_str></code>
                        <br>
                        Removes a role, via ID, mention or name, from the list of protected roles.</li>
                    </ul>
                </div>

                <div class = "extension">
                <h4>Twitch Alert</h4>
                    <ul>
                    <li><code>twitchEditMsg <channel_id> [default_live_message...]</code>
                        <br>
                        Edit the default message put in a Twitch Alert Notification</li>
                    
                    <li><code>twitchViewMsg [channel_id]</code>
                        <br>
                        Shows the current default message for Twitch Alerts</li>

                    <li><code>twitchList</code>
                        <br>
                        Shows all current users and teams in a Twitch Alert</li>

                    <li><code>twitchAdd <channel_id> [twitch_username] [custom_live_message...]</code>
                        <br>
                        Add a Twitch user to a Twitch Alert</li>

                    <li><code>twitchAddTeam <channel_id> [team_name] [custom_live_message...]</code>
                        <br>
                        Add a Twitch team to a Twitch alert</li>

                    <li><code>twitchRemove <channel_id> [twitch_username]</code>
                        <br>
                        Remove a user from a Twitch Alert</li>

                    <li><code>twitchRemoveTeam <channel_id> [team_name]</code>
                        <br>
                        Removes a team from a Twitch Alert</li>    
                    </ul>
                </div>
        </div>
	</section>
{% endblock %}
