{% extends 'base.html' %}
{% load static %}

{% block title %}
		<title>Koalabot | Dashboard</title>
{% endblock %}

{% block requirements %}
		{{ block.super }}
		<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
	<section id="stats">
		<div class="left">
			<div class="row">
				<div class="vertical-container start">
					<h3>TOTAL MEMBERS</h3>
					<p>Online</p>
				</div>
				<div class="vertical-container end">
					<h3>1 340</h3>
					<p>820</p>
				</div>
			</div>
			<div class="row">
				<div class="vertical-container start">
					<h3>ENABLED EXTENSIONS</h3>
					<p>Add Extensions</p>
				</div>
				<div class="vertical-container end">
					<h3>3</h3>
				</div>
			</div>
			<div class="row">
				<div class="vertical-container start">
					<h3>KOALA PRO</h3>
					<p>Get access to Pro Extensions!</p>
				</div>
				<div class="vertical-container end">
					<h3>Go Pro</h3>
				</div>
			</div>
		</div>
		<div class="right">
			<p>Graphs go here</p>
		</div>
	</section>

	<section id="extensions">
		<div class="title-row">
			<h3>KOALA EXTENSIONS</h3>
			<div class="buttons">
				<div class="button"><i class="fa fa-plus-square"></i></div>
				<div class="button"><i class="fa fa-cog"></i></div>
			</div>
		</div>
		<div class="border" style="min-height: 250px;background-color: var(--koala-section-background-dark);">
			<div class="extensions-container">
				<div class="pill light" onclick="this.classList.toggle('light')"><p>Verify</p></div>
				<div class="pill light" onclick="this.classList.toggle('light')"><p>Twitch Alert</p></div>
				<div class="pill light" onclick="this.classList.toggle('light')"><p>Social Alert</p></div>
			</div>
		</div>
	</section>

	<section id="updates">
		<div class="left">
			<h3>NEW TICKETS</h3>
			<div class="border scroll-container vertical-container justify-start">
				<div class="ticket">
					<div class="ticket-head">
						<div class="profile-icon"><i class="fas fa-user"></i></div>
						<div class="vertical-container">
							<h3>CRISTAN BILNEY</h3>
							<p>Just Now</p>
						</div>
					</div>
					<div class="ticket-body">
						<p>Lorem Ipsum dolor sit ametm consectetur adipising elit, sed do eiusmod tempor incidunt</p>
					</div>
				</div>
				<div class="ticket">
					<div class="ticket-head">
						<div class="profile-icon"><i class="fas fa-user"></i></div>
						<div class="vertical-container">
							<h3>HEDY VANETTI</h3>
							<p>1 day ago</p>
						</div>
					</div>
					<div class="ticket-body">
						<p>Lorem Ipsum dolor sit ametm consectetur adipising elit, sed do eiusmod tempor incidunt</p>
					</div>
				</div>
				<div class="ticket">
					<div class="ticket-head">
						<div class="profile-icon"><i class="fas fa-user"></i></div>
						<div class="vertical-container">
							<h3>FRANCISCA TIREMAN</h3>
							<p>54 days ago</p>
						</div>
					</div>
					<div class="ticket-body">
						<p>Lorem Ipsum dolor sit ametm consectetur adipising elit, sed do eiusmod tempor incidunt</p>
					</div>
				</div>
				<div class="ticket">
					<div class="ticket-head">
						<div class="profile-icon"><i class="fas fa-user"></i></div>
						<div class="vertical-container">
							<h3>JOSEPH WILLIAMS</h3>
							<p>1 year ago</p>
						</div>
					</div>
					<div class="ticket-body">
						<p>Lorem Ipsum dolor sit ametm consectetur adipising elit, sed do eiusmod tempor incidunt</p>
					</div>
				</div>
			</div>
		</div>
		<div class="right">
			<h3>KOALA UPDATES<i class="fab fa-twitter"></i></h3>
			<div class="border scroll-container">
				<a class="twitter-timeline" data-dnt="true" data-chrome="transparent" data-theme="light" href="https://twitter.com/KoalaBotUK?ref_src=twsrc%5Etfw">Tweets by KoalaBotUK</a>
			</div>
		</div>
	</section>
{% endblock %}

{% block endRequirements %}
		<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
{% endblock %}
